
form {
    font-size: 20px;
}

h1 {
    margin-bottom: 50px;
}

input {
    background-color: #f8bcf0;
    border-radius: 2px;
    border-width: 0;
    color: #fc11e8;
    font-size: 20px;
    margin: 0 20px;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease, ease;
    vertical-align: middle;
    width: 50px;
}

nav .navbar-nav li a{
    color: white !important;
}

p {
    font-size: 20px;
    margin-bottom: 50px
}


ul {
    list-style-type: none;
}

.btn {
    background-color: pink;
    font-size: 20px;
    color: white;
}

.container {
    margin-top: 100px;
}

.navbar {
    background-color: plum;
    color: white
}

.progress-bar {
    background-color: pink;
}

.scores {
    background-color: thistle;
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}

.quiz {
    height: 500px;
}

.result {
    height: 100px;
}

#time {
    color: white;
}


